@model System_biblioteczny.Models.RentBookViewModel
@{
    ViewBag.Title = "ListOfBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista dostepnych ksiazek w bazie</h2>


@Html.Partial("~/Views/Shared/BooksPartialView.cshtml", Model.Books)

