@model List<Ksiazki>

<table class="table">
    <thead>
        <tr>            
            <th scope="col">Tytul</th>
            <th scope="col">Podtytul</th>
            <th scope="col">Rok wydania</th>
            <th scope="col">Ilosc</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var book in Model)
        {
            <tr>
                <td>@book.tytul</td>
                <td>@book.tytul2</td>
                <td>@book.rok_wydania</td>
                <td>@book.stawka</td>
            </tr>
        }
    </tbody>
</table>
